body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu_wrapper {
    background-color: #44b22c;
    width: 100%;
}

.topper {
    height: 120px;
    padding: 20px;
    width: 98%;
}

.left_col {
    float: left;
    padding: 4%;
    width: 41%;
    height: 800px;
    background-color: #f0e63a;
}

.right_col {
    float: right;
    padding: 4%;
    width: 41%;
    height: 800px;
    background-color: #f0e63a;
}

.nav {
    text-align: right;
    float: right;
    list-style: none;
    padding-left: 15px;
}

.menu_entrees li {
    list-style-type: none;
    padding-left: 10px;
}

.menu_list {
    padding-bottom: 15px;
}

.menu_list li {
    display: inline;
    list-style-type: none;
    padding-left: 15px;
}

.hamburger {
    color: rgb(220, 13, 13);
}

.veg_leaf {
    list-style-image: url('../images/leaf.png');
}

.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}